# Ignore node_modules inside the client folder
node_modules/

# Ignore build files
build/
dist/

# Ignore environment variables
.env

# Ignore logs
npm-debug.log
yarn-error.log

# Ignore system files
.DS_Store
Thumbs.db
